include-file = $ZSH/roles/polybar/files/theme/{{ theme }}/colors.ini

include-file = $ZSH/roles/polybar/files/fonts.ini
include-file = $ZSH/roles/polybar/files/modules/margin.ini
include-file = $ZSH/roles/polybar/files/modules/round-left.ini
include-file = $ZSH/roles/polybar/files/modules/round-right.ini
include-file = $ZSH/roles/polybar/files/modules/round-left-red.ini
include-file = $ZSH/roles/polybar/files/modules/round-right-red.ini

include-file = $ZSH/roles/polybar/files/modules/battery.ini
include-file = $ZSH/roles/polybar/files/modules/bspwm.ini
include-file = $ZSH/roles/polybar/files/modules/cpu.ini
include-file = $ZSH/roles/polybar/files/modules/date.ini
include-file = $ZSH/roles/polybar/files/modules/i3.ini
include-file = $ZSH/roles/polybar/files/modules/memory.ini
include-file = $ZSH/roles/polybar/files/modules/mpd.ini
include-file = $ZSH/roles/polybar/files/modules/pulseaudio.ini
include-file = $ZSH/roles/polybar/files/modules/session.ini
include-file = $ZSH/roles/polybar/files/modules/temperature.ini
include-file = $ZSH/roles/polybar/files/modules/title.ini
include-file = $ZSH/roles/polybar/files/modules/weather.ini
include-file = $ZSH/roles/polybar/files/modules/wired.ini
include-file = $ZSH/roles/polybar/files/modules/wlan.ini
include-file = $ZSH/roles/polybar/files/modules/xbacklight.ini
