import:
  - {{ ansible_user_dir }}/roles/alacritty/files/base.yml
  - {{ ansible_user_dir }}/roles/alacritty/files/keybindings.yml
  - {{ ansible_user_dir }}/roles/alacritty/files/theme/{{ theme }}.yml