file://{{ ansible_user_dir }}/Documents
file://{{ ansible_user_dir }}/Desktop
file://{{ ansible_user_dir }}/Notes
file://{{ ansible_user_dir }}/Projects
file://{{ ansible_user_dir }}/Music
file://{{ ansible_user_dir }}/Pictures
file://{{ ansible_user_dir }}/Videos
file://{{ ansible_user_dir }}/Downloads
